<div class="container">
  
  <h3><%= @tag.name %></h3>
  <p>These are the posts tagged "<%= @tag.name %>"</p>

  <!-- display all of the posts -->
  <% @tag.posts.order(:created_at).reverse_order.each do |post| %>
    <div class="post_holder"> 
      <h3>
        <a href="/post/<%= post.id %>">
          <%= post.title %>
        </a>
      </h3>
      <p><%= post.body %></p>
      <div class="tags_holder">
        <ul>
          <% post.tags.each do |tag| %>
            <li>
              <a href="/tag/<%= tag.id %>"><%= tag.name %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>
